global
    log /dev/log local0
    maxconn 256

defaults
    mode tcp
    timeout connect 10s
    timeout client 1h
    timeout server 1h

frontend exasol_db
    bind *:8563
    default_backend exasol_db_backend

backend exasol_db_backend
    server minisforum 100.117.230.47:8563 check

frontend exasol_adminui
    bind *:8443
    default_backend adminui_backend

backend adminui_backend
    server minisforum 100.117.230.47:8443 check

frontend exasol_admin_api
    bind *:4444
    default_backend admin_api_backend

backend admin_api_backend
    server minisforum 100.117.230.47:4444 check

frontend exasol_bucketfs
    bind *:2580
    default_backend bucketfs_backend

backend bucketfs_backend
    server minisforum 100.117.230.47:2580 check

frontend exasol_bucketfs2
    bind *:2581
    default_backend bucketfs2_backend

backend bucketfs2_backend
    server minisforum 100.117.230.47:2581 check
